<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>EAA 690 Membership Report</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <th>Statistic</th>
        <th>Current</th>
        <th>Expires in 30 days</th>
        <th>Expires in 7 days</th>
        <th>Expired</th>
      </tr>
      <tr>
        <td>Regular Membership</td>
        <td th:text="${regularMembershipCount}"></td>
        <td th:text="${regularMembershipWillExpire30Count}"></td>
        <td th:text="${regularMembershipWillExpire7Count}"></td>
        <td th:text="${regularMembershipExpiredCount}"></td>
      </tr>
      <tr>
        <td>Family Membership</td>
        <td th:text="${familyMembershipCount}"></td>
        <td th:text="${familyMembershipWillExpire30Count}"></td>
        <td th:text="${familyMembershipWillExpire7Count}"></td>
        <td th:text="${familyMembershipExpiredCount}"></td>
      </tr>
      <tr>
        <td>Student Membership</td>
        <td th:text="${studentMembershipCount}"></td>
        <td th:text="${studentMembershipWillExpire30Count}"></td>
        <td th:text="${studentMembershipWillExpire7Count}"></td>
        <td th:text="${studentMembershipExpiredCount}"></td>
      </tr>
      <tr>
        <td>Lifetime Membership</td>
        <td th:text="${lifetimeMembershipCount}"></td>
        <td>n/a</td>
        <td>n/a</td>
        <td>n/a</td>
      </tr>
    </table>
  </body>
</html>