<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>EAA 690 Membership Report</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <th align="center">Statistic</th>
        <th align="center">Current</th>
      </tr>
      <tr>
        <td>Regular Membership</td>
        <td align="center" th:text="${regularMembershipCount}"></td>
      </tr>
      <tr>
        <td>Family Membership</td>
        <td align="center" th:text="${familyMembershipCount}"></td>
      </tr>
      <tr>
        <td>Family Members</td>
        <td align="center" th:text="${familyMemberCount}"></td>
      </tr>
      <tr>
        <td>Student Membership</td>
        <td align="center" th:text="${studentMembershipCount}"></td>
      </tr>
      <tr>
        <td>Lifetime Membership</td>
        <td align="center" th:text="${lifetimeMembershipCount}"></td>
      </tr>
      <tr>
        <td>Non-Members</td>
        <td align="center" th:text="${nonMembershipCount}"></td>
      </tr>
    </table>
  </body>
</html>